body {
    background-color: white;
    font-family: 'Helvetica';
}

.container {
    margin: 2rem 4.5rem;
}

.div-container {
    margin: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.div-container div {
    display: flex;
    flex-direction: column;
    align-items: center;
}