body {
    background-color: #F2EAEA;
	font-family: 'Helvetica';}

.container {
    margin: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container div {
    justify-self: center;
}