body {
    background-color: white;
    font-family: 'Helvetica';
}

.container {
    margin: 2rem 4.5rem;
}

.div-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.dev {
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    margin: 20px;
    width: 18%;
}

img {
    width: 100%;
}
