body {
    background-color: #F2EAEA;
}

.p1
{
	text-indent: 100px;
	color: black;
	font-weight: bolder;
	font-family: 'Helvetica';
}

.p2
{
	text-indent: 100px;
	color: black;
	font-family: 'Helvetica';
}
