body {
	background-color: #F2EAEA;
	margin: 6% 7% 2% 7%;
}

.p1
{
	color: black;
	font-weight: bolder;
	font-family: 'Helvetica';
}

.p2
{
	color: black;
	font-family: 'Helvetica';
	width: 85%;
	line-height: 1.5;
}
