body {
  background-color: white;
  font-family: 'Helvetica';
}

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0px;
}

slider {
  display: flex;
  width: 96%;
  height: 50%;
  background-color: #1f1f1f;
  margin-left: 2%;
  overflow: hidden;
  position: absolute;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

slider > * {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: #1f1f1f;
  animation: slide 12s infinite;
  overflow: hidden;
}

slide:nth-child(1) {
  left: 0%;
  animation-delay: -1s;
  background-image: url('../images/11.jpg');
  background-size: cover;
  background-position: center;
}

slide:nth-child(2) {
  animation-delay: 2s;
  background-image: url('../images/12.jpg');
  background-size: cover;
  background-position: center;
}

slide:nth-child(3) {
  animation-delay: 5s;
  background-image: url('../images/13.jpg');
  background-size: cover;
  background-position: center;
}

slide:nth-child(4) {
  animation-delay: 8s;
  background-image: url('../images/14.jpg');
  background-size: cover;
  background-position: center;
}

slide p {
  font-family: Comfortea;
  font-size: 120px;
  text-shadow: 10px 10px #000000;
  text-align: center;
  display: inline-block;
  width: 100%;
  margin-top: 340px;
  color: #fff;
}

@keyframes slide {
  0% {left: 100%; width: 100%;}
  5% {left: 0%;}
  25% {left: 0%;}
  30% {left: -100%; width: 100%;}
  30.0001% {left: -100%; width: 0%;}
  100% {left: 100%; width: 0%;}
}
