body {
    margin: 0;
}

.topnav {
    background-color: #dc3f0a;
    color:#eef1ef;
    display: flex;
    justify-content: start;
    font-family: 'Helvetica';
    position: sticky;
    top: 0;
    z-index: 3;
}

.topnav a {
    color: inherit;
    text-decoration: none;
    font-weight: 400;
    padding: 1.2rem 2rem;
}

.link-right {
    margin-left: auto;
}

.topnav .selected {
    background-color: rgba(255, 255, 255, 0.1);
}

.topnav a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.topnav .selected:hover {
    color: inherit;
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .topnav a {
        display: block;
        text-align: left;
    }
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a.icon {
        margin-left: auto;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        display: block;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        display: block;
        text-align: left;
    }
}