body {
    margin: 0;
}

.navigation {
    background-color: #dc3f0a;
    color:#eef1ef;
    padding: 0 2rem;
    display: flex;
    justify-content: start;
    font-family: 'Helvetica';
}

.navigation a {
    color: inherit;
    text-decoration: none;
    font-weight: 400;
    padding: 1.2rem 2rem;
}

.link-right {
    margin-left: auto;
}

.navigation .selected {
    background-color: rgba(255, 255, 255, 0.1);
}

.navigation a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.navigation .selected:hover {
    color: inherit;
}