body {
    background-color: white;
    font-family: 'Helvetica';
}

.container {
    margin: 2rem 4.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dish {
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    margin: 20px;
    cursor: pointer;
    width: 30%;
}

.dish:hover{
    transform: scale(1.1);
}

img{
    width: 100%;
    height: auto;
}

.display-dish {
    margin: 2rem 4.5rem;
}

.none{
    display: none;
}

@media (max-width: 720px){
    .container {
        flex-direction: column;
    }  

    .dish{
        width: 80%;
    }
}